<a href="https://colab.research.google.com/github/Feli555/FckingPyt3Tut/blob/master/FckTut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

How to fucking create a function

In [0]:
def fucking_function(arg1, arg2, arg3):
  """
   Los jodidos arg1, arg2, arg3 son argumentos que se piden para ejecutar la
   funcion, son cosas que pueden cambiar y que se usan para el codigo de la
   funcion.
   El nombre es en minusculas sin espacios, para espacios el _
   Y estas 3 comillas son para la documentacion de la funcion
  """
  print('Argument 1: ', arg1)
  print('Argument 2: ', arg2)
  print('Argument 3: ', arg3)

In [0]:
def suma_producto(a, b, c):
  """
  Lo unico que hace es sumar dos numeros y multiplicar por el tercero.
  Es como ejemplo.
  A B C son numeros
  El return se usa cuando una funcion devuelve un valor, por ejemplo la de
  arriba no devuelve nada, esta si.
  """
  return (a+b)*c

In [5]:
suma_producto(153, 134354, 34834)

4685416838

Ahora saben como carajos se usan las funciones, es solo

def nombre (argumentos):
    
    "
    La documentacion
    "
    El codigo literalmente hacen lo que sea aqu√≠, pues lo que se supone que hace la funcion
    y 
    return lo que sea que vaya a devolver esa cosa si es que lo hace
    
Y ya

In [0]:
# ejemplo de una funcion mas interesante

def create_custom_df(nS, volab, mN, pTp):
  """
  Lo que hace es crear un Pandas DataFrame usando listas de datos como:
  nS: Name of Symbols
  volab: Volatility of asset
  mN: Margin needed
  pTp: Profit at 10 points
  """
  data = [nS, volab, mN, pTp]
  return pd.DataFrame(data, columns=['Name of Symbols', 'Volatility', 'Margin',
                                     'Profit at 10 points'])

In [9]:
# Probemos la funcion | Las variables pueden ser del nombre que sea

l1 = ['Oil', 'Brent', 'GOLD', 'EURUSD']
l2 = [0.7, 0.8, 0.98, 1.24]
l3 = [80, 82, 1095, 2000]
l4 = [10, 11, 56, 20]

create_custom_df(l1, l2, l3, l4)

  Name of Symbols Volatility Margin Profit at 10 points
0             Oil      Brent   GOLD              EURUSD
1             0.7        0.8   0.98                1.24
2              80         82   1095                2000
3              10         11     56                  20